version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - task-network
    # Tambahkan ini agar backend tahu kapan RabbitMQ siap
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3001:3001"
    volumes:
      - ./user-service:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy # Menunggu RabbitMQ benar-benar "Healthy"
    networks:
      - task-network

  task-service:
    build: ./task-service
    container_name: task-service
    ports:
      - "3002:3002"
    volumes:
      - ./task-service:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - task-network

networks:
  task-network:
    driver: bridge